run = ["python3", "main.py"]
entrypoint = "main.py"
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
build = ["pip", "install", "-r", "requirements.txt"]

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"
PORT = "5000"

[[ports]]
localPort = 5000
externalPort = 80